
h1 {
	color: rgb(2, 132, 130);
	text-align: center;
}

h2 {
	color: #ffd700;
	text-align: center;
}

.board {
  height: 80%;
  width: 50%;
}

.card {
  height: 200px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
  background: yellow;
}
footer {
	text-align: center;
	color: red;
}